<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>Weather Information Application</title>
</head>
<body>
    <main>
    <div class="container">
        <div class="search-city">
            <form action="/" method="POST">
            <input type="text" placeholder="Enter the City" name='city'/>
            <button type="submit" id="submit">Search</button>
            </form>
        </div>

        {% if weatherinfo.status_code==200 %}
        <h1>Weather Information of <span id="city">{{weatherinfo.city}}</span></h1>
        <div class="cards">
            <div class="card card1">
                <h2>Temperature</h2>
                <p><span>{{weatherinfo.data.temp}}</span>&#8451</p>
            </div>
            <div class="card card1">
                <h2>Humidity</h2>
                <p><span>{{weatherinfo.data.humidity}}</span>m/s</p>
            </div>
            <div class="card card1">
                <h2>Wind</h2>
                <p><span>{{weatherinfo.data.wind_speed}}</span>km/hr</p>
            </div>
        </div>
        <div class="other">
            <h1>Other Info</h1>
            <table>
                <tr>
                    <th>City</th>
                    <th>Cloud PCT</th>
                    <th>Wind Degree</th>
                    <th>Max Temp.</th>
                    <th>Min Temp.</th>
                    <th>Sunrise</th>
                    <th>Sunset</th>
                </tr>
                <tr>
                    <td>{{weatherinfo.city}}</td>
                    <td >{{weatherinfo.data.cloud_pct}}</td>
                    <td >{{weatherinfo.data.wind_degrees}}</td>
                    <td>{{weatherinfo.data.max_temp}}</td>
                    <td >{{weatherinfo.data.min_temp}}</td>
                    <td >{{weatherinfo.data.surise}}</td>
                    <td>{{weatherinfo.data.sunset}}</td>
                    
                </tr>
            </table>
        </div>
        {% elif weatherinfo.status_code==400 %}
        <div id="errorMessage">
            Sorry! City didn't Found
            <p>Please Enter Another City</p>
        </div>
        {% elif weatherinfo.status_code==101 %}
        <div id="errorMessage">
            Sorry! 
            <p>{{weatherinfo.error}}</p>
        </div>
        {% endif %}
    </div>
    </main>
    <footer>
        <p>Designed By <a href="https://www.github.com/santoshvandari" target="_blank"> Santosh Bhandari</a></p>
    </footer>    
</body>
</html>