* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background: #6b7c9c;
  position: fixed;
}
header nav ul {
  display: flex;
  list-style-type: none;
}
header nav ul li {
  padding: 8px 20px;
  margin: 0px 5px;
  border-radius: 5px;
  transition: all 0.2s linear;
}
header nav ul li:hover {
  background-color: #fff;
  color: #000;
}
header nav ul li:hover a {
  color: #000;
}
header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

main {
  margin-top: 60px;
}
main #intro {
  margin: 20px 10px;
  padding: 0px 20px;
}
main #intro #intro-heading {
  padding: 10px 0 0;
  font-size: 30px;
  text-decoration: underline;
}
main #intro p {
  font-size: 20px;
  text-align: justify;
  padding-left: 20px;
  margin: 10px 0;
}
main #use {
  margin: 20px 10px;
  padding: 0px 20px;
}
main #use #use-heading {
  padding: 10px 0 0;
  font-size: 30px;
  text-decoration: underline;
}
main #use p {
  font-size: 20px;
  text-align: justify;
  padding-left: 20px;
  margin: 10px 0;
}
main #use #use-sample pre {
  background: #293538;
  font-size: 18px;
  color: #fff;
  display: flex;
  width: 750px;
}
main #use #fetch-sample pre {
  background: #293538;
  font-size: 18px;
  color: #fff;
  display: flex;
  width: 900px;
}
main #use #ajax-sample pre {
  background: #293538;
  font-size: 18px;
  color: #fff;
  display: flex;
  width: 900px;
}
main #example {
  margin: 20px 10px;
  padding: 0px 20px;
}
main #example #example-heading {
  padding: 10px 0 0;
  font-size: 30px;
  text-decoration: underline;
}
main #example p {
  font-size: 20px;
  text-align: justify;
  padding-left: 20px;
  margin: 10px 0;
}
main #example .container #btn-fetch {
  margin: 10px 0;
  background: #0d6efd;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 20px;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
}
main #example .container #btn-fetch:hover {
  background: #41464b;
}
main #example .container #btn-fetch:active {
  background: transparent;
  color: #000;
}
main #example .container #result {
  background: #293538;
  color: #fff;
  width: 600px;
  padding: 20px 50px 20px 20px;
}
main #example .container #result h5 {
  font-size: 25px;
  font-weight: 500;
}
main #example .container #result #author {
  text-align: right;
}
main #contribute {
  margin: 20px 10px;
  padding: 0px 20px;
}
main #contribute #contribute-heading {
  padding: 10px 0 0;
  font-size: 30px;
  text-decoration: underline;
}
main #contribute p {
  font-size: 20px;
  text-align: justify;
  padding-left: 20px;
  margin: 10px 0;
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 18px;
}
footer p a {
  text-decoration: none;
  color: #2c5353;
  font-size: 20px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */