asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
crypto==1.4.1
Django==4.2.7
idna==3.4
Naked==0.1.32
paytm==0.1.8
Pillow==10.1.0
pycrypto==2.6.1
PyYAML==6.0.1
requests==2.31.0
shellescape==3.8.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==2.1.0
