{% extends "base.html" %}
{% comment %} {% include "header.html" %} {% endcomment %}
{% block content %}
<h1>About Us Page</h1>
<div>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta laboriosam recusandae temporibus itaque consequatur similique illo, maxime quos fugit, odit voluptatibus sint cum commodi in autem mollitia, beatae officiis libero optio assumenda rerum molestiae labore nostrum? Adipisci officia sit totam perferendis odio eaque ex aperiam accusamus nam. Fuga, atque ea!

</div>

{% endblock %}


{% comment %} {% include "footer.html" %} {% endcomment %}
