{% extends "base.html" %}
{% comment %} {% include "header.html" %} {% endcomment %}
{% block content %}


    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
       body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 74vh;
        flex-direction: column;
        gap: 50px;
       }

    </style>
</head>
<body>
    <h1>Welcome to Dashboard</h1>
    <h3>Login as {{userdata}}</h3>
    <h5><a href="/logout">Logout<a></h5>
</div>
{% endblock content %}
