{% extends "base.html" %}
{% comment %} {% include "header.html" %} {% endcomment %}
{% block content %}
<div class="wrapper">
<h1>Contact US</h1>
{% comment %} <form method="GET">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    <label for="address">Address: </label>
    <input type="text" name="address" id="address">
    <label for="msg">Message: </label>
    <textarea name="msg" id="msg" cols="30" rows="10"></textarea>
    <button type="submit">Submit</button>
</form> {% endcomment %}
<form method="POST" action="/submit/">
    {% csrf_token %}
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    <label for="address">Address: </label>
    <input type="text" name="address" id="address">
    <label for="msg">Message: </label>
    <textarea name="msg" id="msg" cols="30" rows="10"></textarea>
    <button type="submit">Submit</button>
</form>
<div>
<p>Name: {{name}}</p>
<p>Address: {{address}}</p>
<p>Message: {{msg}}</p>
</div>
</div>
{% endblock %}


{% comment %} {% include "footer.html" %} {% endcomment %}
