{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santosh Bhandari || Personal Website</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="/static/js/script.js"></script>
</head>
<body>
    <header>
        <ul>
            <a class='{% if request.path == "/" or request.path == "/home/"%}active {%endif%}' href="/home">Home</a>
            <a class='{% if request.path == "/about/"%}active {%endif%}' href="/about">About</a>
            <a class='{% if request.path == "/services/"%}active {%endif%}' href="/services">Services</a>
            <a class='{% if request.path == "/contact/"%}active {%endif%}' href="/contact">Contact</a>
            <a class='{% if request.path == "/form/"%}active {%endif%}' href="/form">Form</a>

        </ul>
    </header>
