<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>If Else in Django</title>
</head>
<body>
    <h1>Numbers</h1>
    <ul>
        {% for n in numbers %}
            {% if n > 200 %}
                <li>Greater than 200: {{n}}</li>
            {% elif n > 100 %}
                <li>Greater than 100: {{n}}</li>
            {% else %}
                <li>Else Block: {{n}} </li>
            {% endif %}
        {% endfor%}
    </ul>

    
</body>
</html>