<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Loop}}</title>
</head>
<body>
    <h1>Welcome to {{Loop}} Page!!!</h1>
    <div>
        <h3>Personal Information</h3> <br/>
        {% for item in info%}
            <h4>Name : {{item.name}}</h4>
            <h4>Address : {{item.Address}}</h4>
            <h4>Programming Language</h4>
            <ul>
                {% for  lang in language%}
                    <li>{{lang}}</li>
                {%endfor%}
            </ul>
        {%endfor%}
        <br/><br/>
    </div>
</body>
</html>