<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>About Page</title>
</head>
<body>
    <div class="wrapper">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate nulla quasi atque molestiae laboriosam et nesciunt quo quas repudiandae. Dolorem ducimus illum porro ipsam doloremque facere, voluptate exercitationem, saepe cum culpa fugit nihil sint placeat, sed qui soluta est quidem quos. Accusantium voluptatum dolores obcaecati expedita nesciunt est ipsam omnis?</p>
    </div>
    
</body>
</html>