*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,footer{

}
.main{
    height: 100vh;
    background-color: #2f4f4f;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 500px;
    width: 500px;
    border: 10px solid #fff;
    border-radius: 50%;
}