*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,footer{
    height: 100px;
    background: #020303;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 100vh;
    background-color: #2f4f4f;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 500px;
    width: 500px;
    border: 10px solid #fff;
    border-radius: 50%;
}