<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div>
        <h1>Sign Up Details</h1>
        <form method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter a Username" required>
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <br>
            <button type="submit">SignIn</button>
        </form>
        <p>Don't have an account? <a href="/signup">Register</a></p>
    </div>
</body>
</html>