<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This Website Provides the Quotes API for free.">
    <meta name="keywords" content="Quotes, API, Quotes API, Free Quotes API">
    <link rel="shortcut icon" href="static/img/favicon.png" type="image/x-icon">
    <title>Quotes API</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <script defer src="static/js/script.js"></script>
</head>
<body>
    <div class="container">
    <header>
        <nav>
            <ul>
                <li><a href="#intro">Introduction</a></li>
                <li><a href="#use">Usage</a></li>
                <li><a href="#example">Example</a></li>
                <li><a href="#contribute">Contribution</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="intro">
            <h3 id="intro-heading">Introduction</h3>
            <p>
                The Quotes API is a powerful and versatile tool designed to provide developers with access to an extensive collection of inspirational, motivational, and thought-provoking quotes. This API allows users to seamlessly integrate inspiring quotes into their applications, websites, or projects, enriching content and user experiences. Whether you're building a motivational app, enhancing your blog, or looking to add a touch of wisdom to your project, the Quotes API simplifies the process of accessing and displaying quotes with minimal effort.
            </p>
        </section>
        <section id="use">
            <h3 id="use-heading">Usage</h3>
            <p>To retrieve a Quotes from the API, make a GET request to the API endpoint with the help of fetch or Ajax of
                JavaScript. The response from the server will contain a JSON object with the Quotes and Author Name.</p>
            <div id="fetch-sample">
                <p>You can retrieve the Quotes in JavaScript by Using the Fetch. Code Sample is Given Below: </p>
                <pre>
                    <code>
       fetch("http://randomjokesapi.santosh0.com.np/JokesAPI/")
       .then(response=>response.json())
       .then(response=>{
           console.log(response[0]);
       }).catch(e=>{
           console.log(e);
       })
                        </code>
                    </pre>
            </div>
            <div id="ajax-sample">
                <p>You can retrieve the Quotes in JavaScript by Using the Ajax. Code Sample is Given Below: </p>
                <pre>
                    <code>
        let xhr = new XMLHttpRequest();
        xhr.open('GET', 'http://randomjokesapi.santosh0.com.np/JokesAPI/');
        xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
            let data = JSON.parse(xhr.responseText);
            console.log(data[0]);
            }
        };
        xhr.send();
                </code>
                </pre>
            </div>
        </section>
        <section id="example">
            <h1 id="example-heading">Example</h1>
            <div class="container">
                <button id="btn-fetch">Fetch</button>
                <div id="result">
                    <h5>Result:</h5>
                    <p id="fetch-result">Loading</p>
                    <p id="author"></p>
                </div>
            </div>
        </section>
        <section id="contribute">
            <h2 id="contribute-heading">Contribution</h2>
            <p>Contributions to the Quotes API are welcome. If you have any Quotes or any Idea for making the API more powerful and add some features, feel free to contribute them to the API. Get the GitHub Repository from below to contribute in the API. Your contributions will help make the API even more useful and interesting for the developer community. </p>
            <p>GitHub Repository <a
                    href="https://github.com/santoshvandari/QuotesAPI">https://github.com/santoshvandari/QuotesAPI</a>
            </p>
            <p>
                Thank you for choosing the Quotes API. We hope it brings some motivation and smile to your face and adds a
                dash of fun to your coding adventures!
            </p>
        </section>
    </main>
    <footer>
        <p>
            &copy; Copyright By
            <a href="https://bhandari-santosh.com.np">Santosh Bhandari</a>
        </p>
    </footer>
    </div>
</body>
</html>